<%= link_to 'ログアウト', session_path, data: { turbo_method: :delete } %>
<h1>写真一覧</h1>
<%= link_to '写真を新規にアップロード', new_photo_path %>

  <% @photos.each do |photo| %>
    <p><%= photo.title %></p>
    <%= image_tag photo.image %>
  <% end %>
